/* Here goes styling for global (whole page) */
  body {
  background-color: #F5EEF8 ;
  color: black;
  margin: 0;
  font-size: 22px;
  font-family: 'Poppings'
  
}
h2{
  
  font-size: 30px;
}

h3{
  text-align: center;
  margin: 30px;
  color:#db431d;
  font-size: 20px;
}



