/* Here goes styling for the main page  */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
/* .h2{
  text-align: center;
  margin: 30px;
  color:#db431d;
  font-size: 30px;
} */

/* .text{
  width: 900px;
  display: flex;
  margin: 0 auto;
  font-size: 20px;
} */


.avatar{
  border-radius: 50%;
  
}
