/* define classes here */
/* CANNOT DO element selectors */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    
  }
  .images{
    margin: 20px;
  }
  .btn {
    background-color: #db431d;
    padding: 15px;
    margin: 30px;
    border: #db431d;
    border-radius: 5%;
    justify-content: center;
    color: white;
    
  
  }
  .buttons{
    display: flex;
    justify-content: center;
 }
  